<footer class="tw-container tw-mx-auto tw-text-gray-600 tw-body-font tw-pt-6 tw-mt-6 tw-border-solid tw-border-0 tw-border-t tw-border-gray-200">

  {%- if section.settings.payment_enable -%}
    <div class="tw-container tw-mx-auto tw-px-2 sp:tw-px-5">
      <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
      <ul class="tw-list-none tw-px-0 tw-flex tw-items-center sm:tw-items-start tw-gap-1 sm:tw-gap-4" role="list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}

  <div class="tw-container tw-px-5 tw-py-8 tw-mx-auto tw-flex tw-items-center sm:tw-flex-row tw-flex-col">
    <a class="tw-flex tw-title-font tw-font-medium tw-items-center md:tw-justify-start tw-justify-center tw-text-gray-900">
      <span class="tw-ml-3 tw-text-xl">{{ shop.name }}</span>
    </a>
    <p class="tw-text-sm tw-text-gray-500 tw-m-0 sm:tw-pl-4 sm:tw-border-l-2 sm:tw-border-gray-200 sm:tw-py-2 sm:tw-mt-0 tw-mt-4">
    &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
    </p>
    <span class="tw-inline-flex sm:tw-ml-auto sm:tw-mt-0 tw-mt-4 tw-justify-center sm:tw-justify-start">
      {% if section.settings.facebook != blank %}
      <a href="{{ section.settings.facebook }}" class="tw-text-gray-500" target="_blank">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-5 tw-h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      {% endif %}
      {% if section.settings.twitter != blank %}
      <a href="{{ section.settings.twitter }}" class="tw-ml-3 tw-text-gray-500" target="_blank">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-5 tw-h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      {% endif %}
      {% if section.settings.instagram != blank %}
      <a href="{{ section.settings.instagram }}" class="tw-ml-3 tw-text-gray-500" target="_blank">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="tw-w-5 tw-h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      {% endif %}
      {% if section.settings.linkedin != blank %}
      <a href="{{ section.settings.linkedin }}" class="tw-ml-3 tw-text-gray-500" target="_blank">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="tw-w-5 tw-h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
      {% endif %}
    </span>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "url",
      "id": "facebook",
      "label": "facebook link"
    },
    {
      "type": "url",
      "id": "twitter",
      "label": "twitter link"
    },
    {
      "type": "url",
      "id": "instagram",
      "label": "instagram link"
    },
    {
      "type": "url",
      "id": "linkedin",
      "label": "LinkedIn link"
    }
  ]
}
{% endschema %}
