<header class="tw-h-24 sm:tw-h-32 tw-flex tw-items-center tw-z-30 tw-w-full">
        <div class="tw-container tw-mx-auto tw-px-6 tw-flex tw-items-center tw-justify-between">
            <div class="tw-uppercase tw-text-gray-800 dark:tw-text-white tw-font-black tw-text-3xl">
                {{ shop.name }}
            </div>
            <div class="tw-flex tw-items-center">
                <nav class="tw-font-sen tw-text-gray-800 dark:tw-text-white tw-uppercase tw-text-lg lg:tw-flex tw-items-center tw-hidden">
                {%- for link in section.settings.menu.links -%}
                    <a href="{{ link.url }}" class="tw-py-2 tw-px-6 tw-flex tw-no-underline tw-text-gray-800">
                        {{ link.title | escape }}
                    </a>
                {%- endfor -%}
                <a href="{{ routes.cart_url }}" class="tw-flex tw-items-center tw-justify-center tw-relative -tw-mr-5 tw-h-10 tw-w-10 tw-text-gray-500 hover:tw-text-gray-900" id="cart-icon-bubble">
                  {%- liquid
                    if cart == empty
                      render 'icon-cart-empty'
                    else
                      render 'icon-cart'
                    endif
                  -%}
                  <span class="tw-sr-only">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%}
                        <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="tw-sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                  {%- endif -%}
                </a>
                </nav>
                <button class="lg:tw-hidden tw-flex tw-flex-col tw-ml-4 tw-border-0 tw-bg-transparent">
                    <span class="tw-w-6 tw-h-1 tw-bg-gray-800 dark:tw-bg-white tw-mb-1">
                    </span>
                    <span class="tw-w-6 tw-h-1 tw-bg-gray-800 dark:tw-bg-white tw-mb-1">
                    </span>
                    <span class="tw-w-6 tw-h-1 tw-bg-gray-800 dark:tw-bg-white tw-mb-1">
                    </span>
                </button>
            </div>
        </div>
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}